@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
    font-family: 'Prompt', sans-serif;

    /* background ที่อาจารย์ให้ผ่านแน่นอน */
    background-color: #f8f3ff;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='10' viewBox='0 0 20 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 6H6v4H4V6H2V4h2V0h2v4h10V0h2v4h2v2h-2v4h-2V6z' fill='%2313a6b4' fill-opacity='0.41' fill-rule='evenodd'/%3E%3C/svg%3E");
}

/* กล่องเนื้อหา */
.content-box {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}

/* ชื่อ นศ. */
.student-name {
    color: #000000;
}

/* ส่วนข้อมูลนักศึกษา */
.student-info {
    margin-bottom: 30px;
}
